/* .SizeBar {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* left:{props => (props.isOpen ? '-50px' : '0')};   */
/* 
  }
  
  .menu {
    display: flex;
    align-items: center;
    position: absolute;
    
  } */ 

  .SizeBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row; /* Sắp xếp theo chiều ngang */
    align-items: flex-start; /* Hiển thị ở đầu trên cùng */
  
    &.cssOpen {
      transform: translateX(25px);
    }
  
    &.cssClose {
      transform: translateX(-7rem);
    }
  }
  
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    display: flex;
    flex-direction: column;
    opacity: 0; 
    transition: opacity 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng chuyển động cho transform */
    /* padding-right: 100px; */
    .icon {
      width: 20px;
      height: 20px; 
      margin-right: 8px;
    }
}
  
  .SizeBar.cssOpen .menu {
    opacity: 1; 
    margin-top: 30px;
    padding-right: 50px;
  }
  
  .toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 100px;
    padding-top: 90px;
    width: 10px;
    height: 10px;
    transition: transform 0.3s ease; 
    
   
  }
  
  .SizeBar.cssOpen .toggleButton {
    transform: translateX(200px); 
   
  }
  
  #examples menu {
    width: 210px;
    margin-top: 50px; 
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    list-style: none;
    align-items: flex-start;
  }
  
  #examples menu button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  


#examples menu button:hover {
    background-color: black;
    color: #ebe7ef;
}
.google-map-container {
  padding-left: 25rem;
  margin-top: 3.8rem;
  width: calc(100% + 25rem); /* Adjusted width to extend beyond the container */
  height: 400px;
  justify-content: space-between;
  padding: 0.3rem;
  margin-bottom: -0.5rem;
  margin-left: 15rem;
  overflow: hidden; /* Hide the overflow to prevent horizontal scroll */

  .google-map-container img{
    width: calc(100% + 25rem); /* Adjusted width to extend beyond the container */
    height: 400%;
  }
}

/* #examples menu button.active {
    background-color: #7925d3;
    color: #ebe7ef;
} */


